
@font-face {
    font-family: 'montserrat';
    src: url('../webfonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'montserrat-bold';
    src: url('../webfonts/montserrat/montserrat-bold.ttf');
}
@font-face {
    font-family: 'jacksilver';
    src: url('../webfonts/jacksilver/Jacksilver.ttf');
}

body{
    background: #000;
    background-image: url('../img/PlecaComunSticker.png');
    background-repeat: repeat-y;
    background-size: 4%;
}

/*-----------------------------
            HEADER
-------------------------------*/
.header{
    text-align: center;
    margin: 1vw 0;
}
.header img{
    width: 14%;
}
@media (max-width: 768px) { 
    .header{
        margin: 4vw 0;
    }
    .header img{
        width: 25%;
    }
}
@media (max-width: 576px) { 
    .header{
        margin: 8vw 0;
    }
    .header img{
        width: 40%;
    }
}

/*-----------------------------
            FOOTER
-------------------------------*/
.footer{
    text-align: center;
    margin-top: 4vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    padding-left: 5vw;
}
.footer img{
    width: 50%;
}
@media (max-width: 768px) { 
    .footer{
        margin: 8vw 0;
        padding-left: 5vw;
    }
    .footer img{
        width: 70%;
    }
}
@media (max-width: 576px) { 
    .footer{
        margin: 10vw 0 6vw 0;
        padding-left: 5vw;
    }
    .footer img{
        width:70%;
        margin-bottom: 8vw;
    }
}

/*-----------------------------
            ACCION
-------------------------------*/
.accion{
    margin-top: 2vw;
    margin-bottom: 1vw;
    /* font-family: 'Montserrat'; */
    font-size: 1.2em;
    font-weight: bold;
    color: #ffbf00;
    text-align: center;
}
.accion button{
    border: none;
    background: none;
    margin: 1vw 1.5vw 2vw 1.5vw;
    width: 80px;
    height: 80px;
}
.accion button img{
    width: 85%;
}
@media (max-width: 768px) { 
    .accion{
        margin-top: 6vw;
    }
    .accion button{
        margin: 4vw 1.5vw 0 1.5vw;
    }
}
@media (max-width: 576px) {
    .accion{
        margin-top: 12vw;
    }
    .accion button{
        margin: 4vw 1.5vw 0 1.5vw;
        width: 70px;
        height: 70px;   
    } 
}


/*-----------------------------
        PIC SELECTION
-------------------------------*/
.picSelection{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(255, 255, 255, 0.2);
    display: none;
}
.picSelection .picContainer{
    background:  #fff;
    border-radius: 5px;
    top: 3vw;
    text-align: center;
    padding: 2vw;
}
.picSelection #closePic{
    position: absolute; 
    right: 1vw;
    top: 1vw;
    border: solid 3px #ffbf00;
    border-radius: 50%;
    font-size: 2em;
    width: 60px;
    height: 60px;
    background-color: #000;
    color: #ffbf00;
}
.picSelection #closePic:hover{
    opacity: 0.6;
}
.picSelection .picContainer #picSelected{
    max-height: 80vh;
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .picSelection .picContainer{
        border-radius: 5px;
        top: 10vw;
        padding: 8vw 3vw;
    }
    .picSelection .picContainer #picSelected{
        max-width: 90%;
        border-radius: 10px;
    }
 }
@media (max-width: 576px) { 
    .picSelection .picContainer{
        padding: 10vw 3vw 5vw 3vw;
    }
    .picSelection .picContainer #picSelected{
        max-width: 95%;
        height: auto;
        border-radius: 10px;
    }
    .picSelection #closePic{
        font-size: 1.5em;
        width: 50px;
        height: 50px;
    }   
}

/*-----------------------------
        GALLERY PICS
-------------------------------*/
.swiper-slide img{
    cursor: pointer;
}


/*-----------------------------
        HOME DIV
-------------------------------*/
.home-div{
    padding-left: 3vw;
    text-align: center;
    /* display: none;
    opacity: 0; */
}
.home-div iframe{
    width: 85%;
    height: 80vh;
}

.home-div .videointro iframe{
    width: 100%;
    height: 80vh;
}

.home-div .descripcion{ 
    font-family: 'Montserrat';
    font-size: .9em;
    color: #ffffff;
    text-align: justify;
    padding: .5vw 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.home-div .botonera .title{
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffbf00;
    text-align: center;
}
.home-div .path{
    text-align: center;
}
.home-div .botonera a{
    color: #ffbf00;
    font-family: 'Montserrat';
}
.home-div .botonera img{
    width: 70%;
}
@media (max-width: 768px) { 
    .home-div iframe{
        width: 85%;
        height: 40vh;
    }
    .home-div .descripcion{ 
        margin-bottom: 3vw;
    }
}
@media (max-width: 576px) {
    .home-div{
        padding-left: 9vw;
    }
    .home-div iframe{
        width: 90%;
        height: 30vh;
    }
    .home-div .descripcion{ 
        font-size: .8em;
        padding: 0 1vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .home-div .botonera .title{
        margin:  4vw 0;
        font-family: 'Montserrat';
        font-size: 1em;
    }
    .home-div .botonera img{
        width: 100%;
    }
}