@font-face {
    font-family: 'fresh_marker';
    src: url('../webfonts/fresh_marker/freshmarker.ttf');
}   
@font-face {
    font-family: 'take_cover';
    src: url('../webfonts/take_cover/Take_cover.ttf');
} 
@font-face {
    font-family: 'montserrat';
    src: url('../webfonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'tipo_jacksilver';
    src: url('../webfonts/tipo_jacksilver/Jacksilver.ttf');
}

body{
    background: #000;
    background-image: url('../img/PlecaComunSticker.png');
    background-repeat: repeat-y;
    background-size: 4%;
}



.header{
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 5vw;
}
.header img{
    width: 14%;
}



/*-----------------------------
        HOME DIV
-------------------------------*/
.home-div{
    padding-left: 5vw;
    text-align: center;
    /* display: none;
    opacity: 0; */
}
.home-div iframe{
    width: 85%;
    height: 80vh;
}
.home-div .logo{
    margin-top: 2vw;
}
.home-div .logo img{
    width: 45%;
}

/* ----- logotipos ----- */
.home-div .logoAyr{
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.home-div .logoAyr img{
    width: 40%;
}

.home-div .descripcion{
    /* font-family: 'tipo_jacksilver'; */
    font-family: 'Montserrat';
    font-size: 1em;
    color: #ffffff;
    text-align: justify;
    padding: 2.5vw 8vw;
}

.accion{
    margin-top: 2vw;
    margin-bottom: 1vw;
    /* font-family: 'Montserrat'; */
    font-size: 1.2em;
    font-weight: bold;
    color: #ffbf00;
    text-align: center;
}
.accion button{
    border: none;
    background: none;
    margin: 1vw 1.5vw 2vw 1.5vw;
    width: 80px;
    height: 80px;
}
.accion button img{
    width: 85%;
}


/*-----------------------------
        COMUN 1-1
-------------------------------*/
.comun1-1{
    /* display: none; */
    opacity: 0;
    padding-left: 5vw;
}
.comun1-1 .logo{
    text-align: center;
}
.comun1-1 .logo img{
    width: 35%;
}
.comun1-1 .titulo-seccion{
    text-align: center;
    font-family: 'tipo_jacksilver';
    color: #bbbcbc; 
    font-size: 3.2em;
    margin-top: 1.2vw;
    margin-bottom: 2vw;
}
.comun1-1 .descripcion{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #ffffff;
    text-align: justify;
    padding: 0 4vw;
}
.comun1-1 .contenedor-foto{
    text-align: center;
}
.comun1-1 .contenedor-foto img{
    width: 100%;
}
.comun1-1 .gal_titulo{
    color: #ffbf00;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.comun1-1 .gal_bloque{
    padding: 0 10vw;
}
.comun1-1 .gal_bloque .gallery_container{
    overflow: hidden;
}
.comun1-1 .gal_bloque .menu_car_btn{
    position: absolute;
    background: none;
    color: #fff;
    border: none;
    font-size: 2.5em;
    top: 6vw;
}
.comun1-1 .gal_bloque .gal_car_prev{
    left: 3vw;
}
.comun1-1 .gal_bloque .gal_car_next{
    right: 3vw;
}
.comun1-1 .gallery_container .swiper-slide{
    /* background: #bbbcbc; */
    /* width: 300px; */
    margin: 1vw;
    text-align: center;
}



/*-----------------------------
        COMUN 1-2
-------------------------------*/
.comun1-2{
    display: none;
    opacity: 0;
    padding-left: 5vw;
}
.comun1-2 .logo{
    text-align: center;
}
.comun1-2 .logo img{
    width: 25%;
}
.comun1-2 .video iframe{
    width: 100%;
    height: 50vh;
}     

.comun1-2 .titulo-seccion{
    text-align: center;
    font-family: 'tipo_jacksilver';
    color: #bbbcbc;
    font-size: 3.2em;
    margin-top: 1.2vw;
    margin-bottom: 2vw;
}
.comun1-2 .descripcion{
    font-family: 'Montserrat';
    font-size: 1em;
    color: #ffffff;
    text-align: justify;
    padding: 2 4vw;
}
.comun1-2 .contenedor-foto img{
    width: 100%;
}

.exponentes_list {
    font-size: 1em;
    color: #0000; /* texto de la tarjeta */
}

    .exponentes_list #exponentesoneList {
        overflow: auto;
        max-height: 30vw;
    }
    
.exponentes_list .header_title {
    text-align: center;
    background-color: #ffc000; /* color de los botones*/
    color: #000000; /* texto del header de la lista*/
    font-size: 1.3em;
}
.exponentes_list img{
    width: 10%;
    margin-right: 0vw; 
}
.exponentes_list button{
    font-family: 'Montserrat-bold';
    font-size: 1em;
    color: #ce8dff;
}

.exponentes_title {
    font-family: 'Montserrat-bold';
    text-align: center;
    font-size: 1.5em;
    padding: 2vw;
}


/*-----------------------------
        SEMBLANZAS
-------------------------------*/
.semblanzas .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.semblanzas h2 {
  font-weight: 400;
}
.semblanzas .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/*-----------------------------
        FOOTER
-------------------------------*/

.footer{
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 5vw;
}
.footer img{
    width: 50%;
}